.delete-button, #search-button{
    height: 20px;
    width: 20px;
}

#libri .create-assign-button{
    height: 20px;
    width: 20px;
}

td > .delete-assign-button{
    height: 20px;
    width: 20px;
}